{% extends "employees/base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-primary text-white">
        <h3>{{ employee.first_name }} {{ employee.last_name }}</h3>
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-md-4 text-center">

                {% if employee.profile_image %}

                    <img
                        src="{{ employee.profile_image.url }}"
                        class="img-fluid rounded"
                        width="250"
                    >

                {% else %}

                    <p>No Image</p>

                {% endif %}

            </div>

            <div class="col-md-8">

                <table class="table table-bordered">

                    <tr>
                        <th>First Name</th>
                        <td>{{ employee.first_name }}</td>
                    </tr>

                    <tr>
                        <th>Last Name</th>
                        <td>{{ employee.last_name }}</td>
                    </tr>

                    <tr>
                        <th>Email</th>
                        <td>{{ employee.email }}</td>
                    </tr>

                    <tr>
                        <th>Phone</th>
                        <td>{{ employee.phone }}</td>
                    </tr>

                    <tr>
                        <th>Gender</th>
                        <td>{{ employee.gender }}</td>
                    </tr>

                    <tr>
                        <th>Department</th>
                        <td>{{ employee.department.name }}</td>
                    </tr>

                    <tr>
                        <th>Date of Birth</th>
                        <td>{{ employee.date_of_birth }}</td>
                    </tr>

                    <tr>
                        <th>Hire Date</th>
                        <td>{{ employee.hire_date }}</td>
                    </tr>

                    <tr>
                        <th>Salary</th>
                        <td>${{ employee.salary }}</td>
                    </tr>

                    <tr>
                        <th>Address</th>
                        <td>{{ employee.address }}</td>
                    </tr>

                </table>

                <a
                    href="{% url 'employee_list' %}"
                    class="btn btn-secondary"
                >
                    Back
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}